.so-widget-sow-icon-default-97d0a39d2ab7 .sow-icon {
  text-align: left;
}
.so-widget-sow-icon-default-97d0a39d2ab7 .sow-icon span,
.so-widget-sow-icon-default-97d0a39d2ab7 .sow-icon a span {
  display: inline-block;
  color: #ffffff !important;
  font-size: 32px !important;
}